<div class="quantitySelector">
  <button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="11"
      height="2"
      viewBox="0 0 11 2"
    >
      <rect width="11" height="2" rx="1" />
    </svg>
  </button>
  <div>1</div>
  <button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="10.763"
      height="10.762"
      viewBox="0 0 10.763 10.762"
    >
      <path
        d="M4.651,9.994V6.112H.769a.769.769,0,0,1,0-1.538H4.651V.769a.769.769,0,1,1,1.537,0V4.574H9.995a.769.769,0,0,1,0,1.538H6.188V9.994a.769.769,0,1,1-1.537,0Z"
      />
    </svg>
  </button>
</div>
