.quantitySelector {
  display: flex;
  align-items: stretch;
}

.quantitySelector > button {
  color: white;
  background: #cf9775;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 10px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.quantitySelector__minus {
  border-radius: 100px 0 0 100px;
  padding-left: 12px;
}

.quantitySelector__plus {
  border-radius: 0 100px 100px 0;
  padding-right: 12px;
}

.quantitySelector > button > svg {
  fill: #fff;
}

.quantitySelector__minus:disabled,
.quantitySelector__plus:disabled {
  background: grey;
  cursor: auto;
}

.quantitySelector__input {
  border: none;
  font-size: 1.1rem;
  color: #2d140d;
  padding: 4px 6px;
  flex-grow: 1;
  text-align: center;
}

.quantitySelector__input::-webkit-outer-spin-button,
.quantitySelector__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
