<div class="fullWidth">
  <ul class="list">
    <li>
      <img
        class="list-item_icon"
        src="../../assets/espresso.svg"
        alt="Espresso cup"
      />
      <span>Espresso</span>
      <img
        class="list-item_more"
        src="../../assets/right.svg"
        alt="Right arrow"
      />
    </li>
    <li>
      <img
        class="list-item_icon"
        src="../../assets/cappuccino.svg"
        alt="Cappuccino cup"
      /><span>Cappuccino</span>
      <img
        class="list-item_more"
        src="../../assets/right.svg"
        alt="Right arrow"
      />
    </li>
    <li>
      <img
        class="list-item_icon"
        src="../../assets/macchiato.svg"
        alt="Macchiato cup"
      /><span>Macchiato</span>
      <img
        class="list-item_more"
        src="../../assets/right.svg"
        alt="Right arrow"
      />
    </li>
    <li>
      <img
        class="list-item_icon"
        src="../../assets/mocha.svg"
        alt="Mocha cup"
      /><span>Mocha</span>
      <img
        class="list-item_more"
        src="../../assets/right.svg"
        alt="Right arrow"
      />
    </li>
    <li>
      <img
        class="list-item_icon"
        src="../../assets/latte.svg"
        alt="Latte cup"
      /><span>Latte</span>
      <img
        class="list-item_more"
        src="../../assets/right.svg"
        alt="Right arrow"
      />
    </li>
  </ul>
</div>
