*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Sen", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  font-family: "Sen", sans-serif;
  margin: 0;
}
